body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url('https://res.cloudinary.com/dy5u1ccgi/image/upload/v1729138317/bg_ognxjb.png');
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.navbar {
    background-color: #3d2b1f; 
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}
.navbar a {
    color: white;
    text-decoration: none;
    margin-right: 105px;
    font-size: 30px;
}

.menu {
    display: flex;
    align-items: center;
}
.menu a.active {
    border-bottom: 4px solid white;
}
.search-cart {
    display: flex;
    align-items: center;
}
.search-bar {
    background-color: #f5f5f5;
    border: none;
    padding: 8px 15px;
    border-radius: 8px;
    margin-right: 15px;
    font-size: 16px;
    width: 200px;
}
.cart2 {
    width: 25px;
    cursor: pointer;
}


.payment-container {
    background-color: rgba(163, 143, 125, 0.5); 
    height: 700px;
    border-radius: 30px;    
    padding: 50px 30px;
    color: white;
    font-size: 18px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
}

.payment-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    margin-top: 25%;
}

.payment-header div {
    font-size: 24px;
    font-weight: bold;
}

.payment-detail {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.shipping-address {
    background-color: white;
    color: black;
    border-radius: 8px;
    border: 1px solid #ccc;
    padding: 15px;
    width: 200px;
    font-size: 16px;
    cursor: pointer;
}
.payment-methods{
    margin-right: 130px;
}
.payment-methods input[type="radio"] {
    display: none;
}

.payment-methods label {
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
    font-size: 18px;
}

.payment-methods label::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    border-radius: 50%;
    background-color: #ccc; 
    border: 2px solid #3d2b1f;
    box-sizing: border-box;
}

.payment-methods input[type="radio"]:checked + label::before {
    background-color: #07ff66; 
}


.subtotal {
    font-size: 24px;
    font-weight: bold;
    text-align: right;
    margin-top: 10px;
}

.buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.buttons button {
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
}
.pay {
    width: 14%;
    height: 50px;
    padding-top: 50px;
    border-radius: 40000px;
    background-color: #DCC29C;
    color: black;
    transition: background-color 0.3s ease, color 0.3s ease;
    font-weight: bolder;
}

.pay:hover {
    background-color: #3d2b1f;
    color: white;
}
.custom-line {
    border: none;
    border-top: 2px solid #ccc;
    margin: 20px 0; 
    width: 100%
}

